
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */